/*
Page1:
part1 color: #16263B;
part2 color: #0D1218


*/

html,
body {
  height: 100%;
  /* overflow: hidden; */
  color: white;
  margin: 0;
  padding: 0;
  /* background-color:#141f38; */
}
.page {
  display: flex;
  height: 100%;
  /* position: relative; */
}


.part {
  height: 100%;
}

.left {
  margin: auto;
  width: 57%;
  background-color: #16263B; /* Change this to your desired color */
}
.left-content{
  margin: 60% 0 0 9%;

}
.left-content-heading{
  font-weight: 700;
  font-size: 3rem;
}
.left-content-para{
  width: 37%;
}
.right {
  width: 60%;
  background-color: #0D1218; /* Change this to your desired color */
}

/* First page */
.food-img-img1 {
  /* margin: -3%; */
  max-width: 380px;
  max-height: 220px;
}

.food-img-img2 {

  max-width: 340px;
  max-height: 340px;
}

.food-img-img3 {

  margin-left: 9%;
  max-width: 300px;
  max-height: 300px;
}
/* First page */

.container {
  text-align: center;
  height: 50%;
  position: absolute;
  /* background-color: #5FC782; */
}

.path-slider {

  width: 310px;
  height: 310px;
  border-radius: 100%;
  display: inline-block;
  position: relative;
  background-color: #16263B;
  top: 75%;
  -webkit-transform: translateY(-40%);
  -ms-transform: translateY(-40%);
  transform: translateY(-40%);
}

.para {
 
 margin: 3px 0 0 0 ;
  text-align: left;
  color: white;
  transform: translate(375px, -110px);
  position: absolute;
  background-color: #16263B;

}

.para p,
h1 {
  margin: 0;
  padding: 0;
}

.bottom-text{
  text-align: end;

}



path {
  stroke-width: 1px;
  stroke: none;
  fill: none;
}

.icon__path {
  fill: #FFFFFF;
}

.path-slider__path {
  stroke: rgba(255, 255, 255, 0.5);
}

.path-slider__item {
  position: absolute;
  left: -37px;
  top: -37px;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  text-decoration: none;
  outline: none;
}

.path-slider__item:hover .item__circle,
.path-slider__item:focus .item__circle {
  background-color: #2a0ff0;
}

.item__circle {
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: #341bf1;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  text-align: center;
  transition: 0.5s;
  transform: translate(30px, 20px);
}

.item__title {
  position: absolute;
  bottom: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-variant: small-caps;
  white-space: nowrap;
  opacity: 0.8;
  transition: 0.5s;
}


.path-slider__current-item .item__circle {
  background-color: #4DA169;
  /* -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5); */
}

.path-slider__current-item .item__title {
  font-size: 25px;
  opacity: 1;
  -webkit-transform: translate(-50%, -20px);
  -ms-transform: translate(-50%, -20px);
  transform: translate(-50%, -20px);
}